:root {
    --pink: #f4ab93;
    --cream: #fedfad;
    --brown: #958369;
    --darkbrown: #72674b;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--pink);
    color: var(--darkbrown);
}

.question {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 75%;
    background-color: var(--pink);
    font-size: 200px;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    height:250px;
    width: 75%;
    background-color: var(--cream);
    font-size: 125px;
    text-align: center;
}

#createDiv {
    text-align: center;
    color: var(--brown);
}

button {
    background-color: var(--cream);
    color: var(--brown);
}